<AuContent class="au-u-3-4@medium">
  <AuHeading @level="1" @skin="1">Disclaimer</AuHeading>
  <AuHeading @level="2" @skin="2">Gebruik van de website</AuHeading>
  <p>De Vlaamse overheid besteedt veel aandacht en zorg aan haar websites, en streeft ernaar dat alle informatie zo volledig, juist, begrijpelijk, nauwkeurig en actueel mogelijk is. Ondanks alle inspanningen kan het gebeuren dat de informatie niet volledig, juist, nauwkeurig, bijgewerkt is of wordt weergegeven.</p>
  <p>Als de informatie die u vindt op deze website of ontvangt via telefoon, e-mail of sociale media tekortkomingen vertoont, zal de Vlaamse overheid al het mogelijke doen om dat zo snel mogelijk recht te zetten. Als u onjuistheden vaststelt, kan u met ons contact opnemen. Wij streven ernaar om uw melding zo snel mogelijk te behandelen. De Vlaamse overheid spant zich ook in om onderbrekingen van technische aard zo veel mogelijk te voorkomen. De Vlaamse overheid kan echter niet garanderen dat de websit volledig vrij is van onderbrekingen en andere technische problemen.</p>
  <p>Het is mogelijk dat bepaalde inhoud van onze website kan gedownload worden. Dit is steeds op eigen risico. Schade ten gevolge van verlies van data of schade aan de computer valt volledig en uitsluitend onder de verantwoordelijkheid van de gebruiker.</p>
  <p>Derden, bezoekers aan de website en gebruikers van diensten moeten zich onthouden van handelingen die het gebruik van de website in gevaar kunnen brengen. Stel dat een dergelijke handelingen die goede werkingen en/of het veilige karakter van de website en/of haar diensten in gedrang breng en/of tot de gebrekkige toegankelijkheid.</p>

  <AuHeading @level="3" @skin="3">Inhoud en informatie op de website</AuHeading>
  <p>We besteden grote zorg aan de website en de informatie die erop staat. We kunnen onze website en haar inhoud steeds wijzigen, aanvullen of verwijderen. Toch kunnen we geen garanties geven omtrent de kwaliteit van de informatie op onze website. Het is dus mogelijk dat de informatie onvolledig is, niet accuraat en/of niet nuttig is. We zijn bijgevolg niet aansprakelijk voor directe of indirecte schade ten gevolge van handelingen die de gebruiken of bezoeker neemt op basis van de informatie op onze website. Zo verschijnt er op de website ook informatie en bestanden afkomstig van derde partijen. Deze derde partijen zijn zelf verantwoordelijk voor de kwaliteit van deze inhoud en bestanden.</p>

  <AuHeading @level="3" @skin="3">Hyperlinks en verwijzingen</AuHeading>
  <p>Deze site bevat hyperlinks naar websites van andere overheden, instanties en organisaties, en naar informatiebronnen die door derden worden beheerd. De Vlaamse overheid beschikt voor deze sites over geen enkele technische of inhoudelijke controle of zeggenschap en kan daarom geen enkele garantie bieden over de volledigheid of juistheid van de inhoud en over de beschikbaarheid van de websites en informatiebronnen.</p>

  <AuHeading @level="3" @skin="3">Bescherming van persoonsgegegevens</AuHeading>
  <p>Het Agentschap Binnenlands bestuur respecteert uw rechten bij de verwerking van uw persoonsgegevens. In deze verklaring vindt u hoe we uw persoonsgegevens verzamelen, verwerken en gebruiken. Deze privacyverklaring geeft het algemene beleid aan op het vlak van gegevensverwerking en gegevensbescherming van:</p>
  <p><strong>Het Agentschap Binnenlands Bestuur</strong><br>
    Herman Teirlinckgebouw<br>
    Havenlaan 88<br>
    1000 Brussel<br>
    België
  </p>

  <AuHeading @level="3" @skin="3">Wie verwerkt uw persoonsgegevens?</AuHeading>
  <p>Het Agentschap Binnenlands Bestuur verwerkt uw persoonsgegevens. In deze privacyverklaring gebruiken we het persoonlijk voornaamwoord we om te verwijzen naar het Agentschap Binnenlands Bestuur. Het Agentschap Binnenlands Bestuur is verantwoordelijk voor de verwerking van uw persoonsgegevens die in deze verklaring worden omschreven en toegelicht. We verwerken alleen persoonsgegevens en we laten alleen persoonsgegevens verwerken als dat noodzakelijk is om de taken die ons zijn toebedeeld, te kunnen verrichten. We verwerken de gegevens altijd in overeenstemming met de bepalingen van de algemene verordening gegevensbescherming (AVG), en met de bepalingen van de federale en Vlaamse regelgeving over de bescherming van natuurlijke personen bij de verwerking van persoonsgegevens.</p>
  <p>Als u algemene vragen hebt over de manier waarop we uw persoonsgegevens verwerken, kunt u contact opnemen met de Functionaris voor Gegevensbescherming (FG) van het Agentschap Binnenlands Bestuur door te mailen naar abb.veiligheid@kb.vlaanderen.be. In het Engels is dat de Data Protection Officer (DPO). U kunt ook terecht bij de FG met opmerkingen en suggesties en om uw rechten uit te oefenen.</p>

  <AuHeading @level="3" @skin="3">Wanneer verzamelen en verwerken we uw persoonsgegevens?</AuHeading>
  <p>We verzamelen en verwerken uw persoonsgegevens bij het uitvoeren van onze taken of als u contact met ons opneemt in het kader van deze uitvoering. We kunnen uw persoonsgegevens ook verwerken als u een algemene vraag aan ons stelt.</p>

  <AuHeading @level="3" @skin="3">Waarvoor verwerken we uw persoonsgegevens?</AuHeading>
  <p>Van mandatarissen van een lokaal bestuur hebben we de decretale taak om deze gegevens bij te houden in een databank.</p>
  <p>We verwerken uw persoonsgegevens ook wanneer u het contactformulier invult.</p>
  <p>Meer informatie over onze dienstverlening en ons takenpakket vindt u op onze website: <a href="https://www.binnenland.vlaanderen.be" target="_blank" rel="noreferrer noopener">https://www.binnenland.vlaanderen.be</a>.</p>

  <AuHeading @level="3" @skin="3">Welke gegevens verwerken we over u?</AuHeading>
  <p>We verwerken uw persoonsgegevens. Dat zijn de gegevens die u identificeren of die een band leggen met u als natuurlijke persoon.</p>
  <p>Welke gegevens we concreet verwerken, is afhankelijk van de taken die ons toebedeeld zijn en van de diensten die we aanbieden en verlenen. Daarnaast verwerken we uw identificatiegegevens (naam en voornaam), zodat we onze dienst aan u kunnen verlenen.</p>

  <AuHeading @level="4" @skin="4">Opsomming categorieën persoonsgegevens per dienst/taak</AuHeading>
  <table>
    <thead>
      <tr>
        <th>Dienst / taak</th>
        <th>Grondslag + hyperlink</th>
        <th>Soorten gegevens</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><AuHeading @level="5" @skin="5">Verwerken contactformulier</AuHeading></td>
        <td><AuHeading @level="5" @skin="5">Toestemming</AuHeading></td>
        <td><AuHeading @level="5" @skin="5">Identificatie contactgegevens</AuHeading></td>
      </tr>
      <tr>
        <td>Mandatendatabank</td>
        <td>
          <a href="https://codex.vlaanderen.be/Zoeken/Document.aspx?DID=1030136&param=inhoud" target="_blank">Ministerieel besluit van 3 december 2018 houdende bepaling en beheer van de open standaarden en de technische voorwaarden voor de akten en documenten, voor de mandatendatabank en voor de databank van de leidend ambtenaren van de lokale en de provinciale besturen.
          </a>
        </td>
        <td>De databank bevat de voornaam, de achternaam, het geslacht, de geboortedatum, het rijksregisternummer, de naam van de lijst waarop de mandataris als gemeenteraadslid is verkozen, de naam van de fractie waartoe hij behoort of, in voorkomend geval, de melding dat hij als onafhankelijke zetelt, alsook, in voorkomend geval de bevoegdheden die hij toegewezen krijgt, en de begin- en einddatum van zijn mandaat. De gegevens worden bijgehouden van volgende mandatarissen: gemeenteraadslid, (waarnemend) burgemeester, schepen, voorzitter van de gemeenteraad, districtsraadslid, lid van het districtscollege, voorzitter van de districtsraad, voorzitter van het districtscollege, provincieraadslid, gedeputeerde, voorzitter van de provincieraad, OCMW-raadslid, lid van het vast bureau, voorzitter van het Bijzonder Comit&eacute; van de Sociale Dienst.</td>
      </tr>
    </tbody>
  </table>

  <AuHeading @level="3" @skin="3">Hoe verzamelen en verwerken we uw persoonsgegevens?</AuHeading>
  <p>We vragen uw persoonsgegevens rechtstreeks bij u op wanneer u het contactformulier invult.</p>
  <p>De gegevens van de mandatarissen van een lokaal bestuur worden ingegeven in de mandatendatabank door een medewerker van het lokaal bestuur dat daarvoor gemachtigd is door de algemeen directeur van het lokaal bestuur.</p>
  <p>We leven daarbij altijd de bepalingen na over de bescherming van natuurlijke personen bij de verwerking van persoonsgegevens, die in voorkomend geval op federaal of Vlaams niveau vastgelegd zijn.</p>

  <AuHeading @level="3" @skin="3">Wat zijn de grondslagen voor de verwerking van uw persoonsgegevens?</AuHeading>
  <p>We verwerken uw persoonsgegevens voor onze taken van algemeen belang die zijn opgenomen in het <a href="https://codex.vlaanderen.be/Zoeken/Document.aspx?DID=1014349&amp;param=inhoud" target="_blank" rel="noopener noreferrer">Besluit van de Vlaamse Regering van 28 oktober 2005 tot oprichting van het intern verzelfstandigd agentschap</a>.</p>
  <p>Specifiek voor de gegevens van mandatarissen verwerken we de gegevens zoals opgenomen in Besluit van de Vlaamse Regering van 18 januari 2013 tot nadere uitvoering van de mandatendatabank, vermeld in artikel 74bis en 274, § 5, van het Gemeentedecreet, artikel 72bis van het Provinciedecreet van 9 december 2005 en artikel 73/1 van het decreet van 19 december 2008 betreffende de organisatie van de openbare centra voor maatschappelijk welzijn.</p>
  <p>We baseren de verwerking van uw persoonsgegevens in het kader van het  behandelen van contactformulieren op uw toestemming.</p>

  <AuHeading @level="3" @skin="3">Hoelang bewaren we uw persoonsgegevens?</AuHeading>
  <p>Volgens de algemene regel mogen we uw persoonsgegevens alleen bewaren tijdens de periode waarin ze noodzakelijk zijn om bepaalde diensten te verlenen. We bewaren uw gegevens dus zolang u gebruikmaakt van onze diensten. Daarna bewaren we uw gegevens nog gedurende de termijn waarin we ons moeten kunnen verantwoorden voor de verleende diensten. Na verloop van die verjaringstermijn worden de gegevens verwijderd, tenzij ze van historisch, cultureel of algemeen belang zijn.</p>
  <p>De gegevens van de mandatarissen worden omwille van het historisch belang van de invulling van publieke mandaten in principe voor altijd bewaard.</p>

  <AuHeading @level="3" @skin="3">Delen we uw persoonsgegevens mee aan anderen?</AuHeading>
  <p>Uw gegevens worden in principe intern verwerkt door onze medewerkers. Het is mogelijk dat we voor bepaalde specifieke diensten een beroep doen op derden, die uw gegevens verwerken. We bezorgen uw gegevens aan die verwerkers, zodat ze de dienst in kwestie kunnen verlenen. We oefenen daar op elk moment controle over uit. Voor de mandatendatabank maken we gebruik van een Europese cloudserviceprovider. Wij verkopen uw gegevens niet aan derden.</p>
  <p>De gegevens van de mandatarissen zijn publiek toegankelijk tot aan de algehele vernieuwing van de gemeenteraad, met uitzondering van de geboortedatum en het rijksregisternummer van de betrokken mandataris.</p>

  <AuHeading @level="3" @skin="3">Worden uw persoonsgegevens doorgegeven buiten de Europese Unie?</AuHeading>
  <p>In principe geven we uw gegevens niet door aan landen buiten de Europese Unie of internationale organisaties. Dat zijn landen of organisaties die gevestigd zijn buiten het grondgebied van de Europese Economische Ruimte (Europese Unie + IJsland, Noorwegen en Liechtenstein).</p>

  <AuHeading @level="3" @skin="3">Wat zijn uw rechten?</AuHeading>
  <p>Als we uw persoonsgegevens verwerken in het kader van het algemeen belang, kunt u zich op elk moment verzetten tegen de verwerking van uw gegevens. We wegen dan af of uw individuele belangen zwaarder doorwegen dan het algemeen belang dat we nastreven met de verwerking. Als we uw gegevens niet langer mogen of kunnen verwerken, is het ook niet mogelijk om u de dienst of het voordeel waar u aanspraak op maakt, te verlenen.</p>
  <p>Als uw gegevens als mandataris niet correct vermeld staan in de mandatendatabank kunt u hiervoor contact opnemen met de algemeen directeur van het lokaal bestuur waar u mandataris bent. Zij kunnen de gegevens aanpassen.</p>
  <p>Voor de verwerkingen van persoonsgegevens waarvoor u uw toestemming gegeven heeft, geldt dat u deze toestemming te allen tijde opnieuw kan intrekken. Deze intrekking doet echter geen afbreuk aan de verwerkingen die voorheen plaatsvonden op basis van de door u gegeven toestemming.</p>
  <p>U kunt ook terecht bij die dienst als u vindt dat uw gegevens niet langer relevant zijn en dus verwijderd moeten worden.</p>
  <p>Als u het niet eens bent met de manier waarop we uw gegevens verwerken, kunt u contact opnemen met onze Functionaris voor Gegevensbescherming via abb.veiligheid@kb.vlaanderen.be. Daarnaast kunt u een klacht indienen bij de bevoegde toezichthoudende autoriteit.</p>

  <AuHeading @level="3" @skin="3">Hoe worden uw persoonsgegevens beveiligd?</AuHeading>
  <p>We zorgen ervoor dat de persoonsgegevens goed beveiligd, bewaard en getransporteerd worden, en enkel ingekeken kunnen worden door de medewerkers die ze nodig hebben.</p>
  <p>Voor de mandatendatabank kunnen enkel personen die hiervoor gemachtigd werden volledige toegang krijgen tot de gegevens. Hiervoor wordt gebruik gemaakt van het gebruikers- en toegangsbeheer van de Vlaamse overheid.</p>

  <AuHeading @level="3" @skin="3">Algemene informatie</AuHeading>
  <p>We hebben het recht om het beleid te wijzigen en aan te passen. Wijzigingen en aanpassingen melden we altijd via de website. Meer informatie over de manier waarop we online met persoonsgegevens omgaan, kunt u vinden op onze <a href="https://binnenland.vlaanderen.be/privacyverklaring-abb" target="_blank" rel="noopener noreferrer">algemene online privacy verklaring.</a></p>
</AuContent>
