<AuContent class="au-u-3-4@medium">
  <AuHeading>Toegankelijkheidsverklaring</AuHeading>
  <p>
    Agentschap Binnenlands Bestuur streeft ernaar zijn websites en mobiele applicaties toegankelijk te maken, overeenkomstig het Bestuursdecreet.
  </p>
  <p>Deze toegankelijkheidsverklaring is van toepassing op <a href="https://centrale-vindplaats.lblod.info/">https://centrale-vindplaats.lblod.info</a>{{!-- TODO: replace with EMBER_METIS_BASE_URL --}}</p>
  <h2>Nalevingsstatus</h2>
  <p>Deze web applicatie voldoet gedeeltelijk aan de <a href="https://www.w3.org/Translations/WCAG21-nl/" target="_blank" rel="noopener noreferrer">Richtlijnen voor Toegankelijkheid van Webcontent (WCAG) 2.1 Niveau AA</a>, omdat niet aan de onderstaande eis(en) is voldaan.</p>
  <h2>Niet-toegankelijke inhoud</h2>
  <ul>
    <li>
      <strong>SPARQL search</strong> de functionaliteit is gedeeltelijk niet toegankelijk via het toetsenbord (<a href="https://www.w3.org/Translations/WCAG21-nl/#toetsenbord-geen-uitzondering" target="_blank" rel="noopener noreferrer">Succescriterium 2.1.3 Toetsenbord</a>). <br>
      <em>Het voldoen met deze functionaliteit aan de toegankelijkheidseisen brengt een onevenredige last voor het Agentschap Binnenlands Bestuur met zich mee gelet op het zuiver intern gebruik van deze functionaliteit door een heel beperkte groep medewerkers.</em>
      <em>Deze applicatie zou vanaf juni 2021 beschikbaar zijn voor het bredere publiek, en zal op dat moment toegankelijk gemaakt worden.</em>
    </li>
  </ul>

  <h2>Opstelling van deze toegankelijkheidsverklaring </h2>
  <p>Deze toegankelijkheidsverklaring is opgesteld op 14/08/2020.</p>
  <p>Voor deze toegankelijkheidsverklaring werd de toegankelijkheid van de vermelde web applicatie beoordeeld door het Agentschap Binnenlands Bestuur.</p>

  <h2>Feedback en contactgegevens</h2>
  <p>Voor alle vragen en opmerkingen over de toegankelijkheid van de vermelde websites van het Agentschap Binnenlands Bestuur kunt u contact opnemen via <a href="mailto:binnenland@vlaanderen.be">binnenland@vlaanderen.be</a></p>

  <h2>Handhavingsprocedure</h2>
  <p>Bij onbevredigende antwoorden op uw vragen en opmerkingen kunt u de Vlaamse Ombudsdienst contacteren via onderstaande gegevens.</p>
  <p>
    <strong>Vlaamse Ombudsdienst</strong><br>
    Leuvenseweg 86 <br>
    1000 Brussel <br>
    <a href="mailto:info@vlaamseombudsdienst.be">info@vlaamseombudsdienst.be</a> <br>
    Telefoon (gratis): <a href="tel:info@vlaamseombudsdienst.be">1700</a> <br>
  </p>
</AuContent>
