<div class="container">
  <div class="temporary-header">
    <div class="grid">
      <div class="col--6-12">
        <div class="temporary-header__name"><a href="/">Metis &mdash; Detailpagina's voor semantisch ontsloten informatie</a></div>
      </div>
    </div>
  </div>

  <div class="container-flex--contain">
    <div class="container-flex--scroll">
      <div class="u-hr">{{outlet}}</div>
    </div>
  </div>
</div>
