
  <div class="au-o-layout au-o-layout--large">
    <div class="au-o-region-large">
    <AuHeading level="1" skin="1" class="au-u-margin-bottom-large">Centrale Vindplaats: SPARQL</AuHeading>
    <div {{yasgui}}></div>
  </div>
  {{!-- <AuHr /> --}}
  {{outlet}}
</div>