<div class="au-o-layout au-o-layout--large">
  <div class="au-o-region-large">
    <AuHeading level="1" skin="1" class="au-u-margin-bottom">Centrale Vindplaats: SPARQL</AuHeading>
    <p>Gebruik queries om informatie te doorzoeken die ontsloten werd in onder andere notulen, besluiten en codelijsten.</p>
    <div {{yasgui}}></div>
  </div>
  {{!-- <AuHr /> --}}
  {{outlet}}
</div>